.cart-main {
  margin: 50px auto;
  width: 95%;
}

.cart-main__header {
  display: flex;
  text-align: center;
  width: 100%;
  border: 1px solid #02a262;
  border-radius: 10px 10px 0 0;
  color: #fafafa;
  background-color: #02a262;
}

.cart-main__img {
  width: 100px;
}

.cart-main__name {
  padding-left: 10px;
  width:25%;
}

.cart-main__price {
  padding-left: 10px;
  width: 25%;
}

.cart-main__quantity {
  padding-left: 10px;
  width: 25%;
}

.cart-main__remove {
  width: 25%;
}

.cart-main__container {
  display: flex;  
  align-items: center;
  width: 100%;
  border: 1px solid #02a262;
  border-top: none;
}

.cart-main__item {
  width: 25%;
  display: flex;
  padding-left: 10px;
  justify-content: space-around;
  align-items: center;
}

.cart-main__item-price {
  width: 25%;
  text-align: center;
  padding-left: 10px;
}

.cart-main__item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding-left: 10px;
}

.cart-main__item-remove {
  text-align: center;
  width: 25%;
  padding-left: 10px;
}

.cart-main__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
