.cardDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 25px auto;
  padding: 25px;
}

.imgDetail { 
  width: 450px;
  margin: 10px;
}

.bodyDetail {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameDetail {
  font-size: 26px;
  margin: 0;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceDetail {
  font-size: 20px;
  font-weight: bolder;
  margin: 0 35px;
}

.descriptionDetail { 
  text-align: left;
}

.btn {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}