.form {
  width: 30%;
  margin: 0 auto;
}

.form__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.form__title {
  text-align: center
}

input { 
  margin: 5px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-form {
  margin: 20px auto !important;
}


