.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  box-shadow: 1px 1px 10px black;
}

.img {
  width: 250px;
}

.name {
  font-size: 20px;
  margin: 8px;
}

.price  {
  margin-bottom: 8px;
}

.body { 
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  
}

.btn,
.btn-disabled {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.btn {
  background-color: #008000;
}

.btn-disabled {
  background-color: #008800aa;
}
.btn:hover {
  cursor: pointer;
  background-color: #006400;
}