.header {
  background-color: #00b16a;
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 5px;
  display: block;
}

.header__img {
  display: block;
  width: 100px;
}

.header__ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #fafafa;
  font-weight: bolder;
}

.header__link:hover {
  color: #006400;
}

.header__link-cart {
  width: 13%;
  text-align: center;
  text-decoration: none;
}