.App {
  text-align: center;
}

.App-header {
  background-color: #1111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Loading */
.loading-container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 0 15px;
  display: inline-block;
}

/* Header */
.header__nav-container {
  background-color: #111;
}
.header__link {
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  margin: 0 45px;
}

.header__link:hover {
  color: #00e640;
}

.header__link-cart {
  text-decoration: none;
}

.header__img {
  width: 120px;
}

/* Cart Widget */
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  border-radius: 20px;
  position: relative;
}

.cart-container:hover {
  cursor: pointer;
}

.cart-container:hover > .cart-name{
  color: #00e640;
}
.cart-container:hover > .items-number {
  color: #fff;
  background-color: darkred;
  border: 1px solid darkred;
}

.cart-container:hover > .cart {
  color: #00e640;
}

.cart {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  color: #fff;
}

.cart-name {
  color: #fafafa;
  font-weight: bolder;
  margin: 8px 0;
  text-decoration: none;
}

.items-number {
  color: #fff;
  width: 20px;
  height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  top: -1px;
  background-color: red;
  border: 1px solid red;
  border-radius: 100%;
}

/* ItemList Container */
.containerList {
  width: 100%;
}


/* ItemList */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  width: 80%;
  margin: 50px auto;
}

/* Item */
.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  box-shadow: 1px 1px 10px black;
}

.img {
  width: 250px;
}

.name {
  font-size: 20px;
  margin: 8px;
}

.price  {
  margin-bottom: 8px;
}

.body { 
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.btn,
.btn-disabled {
  text-decoration: none;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.btn {
  background-color: #000;
}

.btn-disabled {
  background-color: #0000009e;
}
.btn:hover {
  cursor: pointer;
  background-color: #00e640;
}

/* ItemCount */
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-cart,
.btn-cart__disabled {
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.btn-cart {
  background-color: #000;
}

.btn-cart:hover {
  background-color: #00e640;
  color: #000;
  cursor: pointer;
}

.label {
  font-size: 16px;
  margin: 0 10px;
}

.btn-cart__disabled {
  background-color: #0000009e;
}

.header__logo {
  width: 100px;
}

.header__img {
  width: 100px;
}
/* CartCount */
.cart-main {
  margin: 50px auto;
  width: 95%;
}

.cart-main__header {
  display: flex;
  text-align: center;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px 10px 0 0;
  color: #fafafa;
  background-color: #000;
}

.cart-main__img {
  width: 100px;
}

.cart-main__name,
.cart-main__price,
.cart-main__quantity,
.cart-main__remove {
  padding-left: 10px;
  width:25%;
  margin: 20px;
  font-weight: bolder;
}


.cart-main__container {
  display: flex;  
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  border-top: none;
}

.cart-main__item {
  width: 25%;
  display: flex;
  padding-left: 10px;
  justify-content: space-around;
  align-items: center;
}

.cart-main__item-price {
  width: 25%;
  text-align: center;
  padding-left: 10px;
}

.cart-main__item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding-left: 10px;
}

.cart-main__item-remove {
  text-align: center;
  width: 25%;
  padding-left: 10px;
}

.cart-main__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}


.empty-container {
  text-align: center;
}

.cart__total-checkout {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

/* CheckoutForm */
.form {
  width: 30%;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(55, 55, 55);
}

.form__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
  margin-bottom: 20px;
}

input { 
  margin: 5px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-form {
  margin: 30px auto 0 auto;
}


