.btn-container {
  text-align: center;
}

.btn-cart {
  font-size: 16px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.btn-add {
  font-size: 16px;
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
}

.btn-cart,
.btn-add {
  background-color: #08c055;
  border: none;
}

.btn-cart:hover,
.btn-add:hover {
  background-color: #fff;
  cursor: pointer;
}


.label {
  font-size: 16px;
  margin: 0 10px;
}


