.btn {
  text-decoration: none;
  padding: 10px;
  background-color: #008000;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-cart,
.btn-cart__disabled {
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.btn-cart {
  background-color: #008000;
}

.btn-cart:hover {
  background-color: #006400;
  cursor: pointer;
}

.label {
  font-size: 16px;
  margin: 0 10px;
}

.btn-cart__disabled {
  background-color: #008800aa;
}



